<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="app/css/media-queries.css"/>
    <link rel="stylesheet" href="bower_components/angular-toastr-master/dist/angular-toastr.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-toastr-master/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>

    <script src="app/js/delta.module.js"></script>
    <script src="app/js/delta-config.js"></script>
    <script src="app/js/controller/index.controller4.js"></script>

    <script src="arquitetura/service/alert-service.js"></script>
    <script src="arquitetura/filter/maiusculo.js"></script>
    <script src="arquitetura/directive/ca-span/ca-span.directive.js"></script>
    <script src="arquitetura/directive/ca-input-text/ca-input-text.directive.js"></script>

</head>
<body ng-app="delta">
<div ng-controller="IndexController4 as vmIndex" class="container">
    <ca-span texto="Vinícius Sousa"></ca-span>

    <div class="row">
        <ca-input-text label="Nome" colspan="4" ng-model="vmIndex.entidade.nome" ng-required="true">
        </ca-input-text>
        <ca-input-text label="Sobrenome" colspan="4" ng-model="vmIndex.entidade.sobrenome" >
        </ca-input-text>
    </div>

    {{vmIndex.entidade}}
</div>


</body>
</html>